.img-hero-container2 {
  position: relative;
  width: 100%;
  height: min(100vw, 720px);
  max-height: 720px;
  overflow: hidden;
}

/* Image */
.img-hero2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* Overlay */
.img-hero-overlay2 {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-title2,
.hero-subtitle2 {
  font-size: 32px !important;
}

.subtitle-padding2 {
  width: 56%;
  padding-left: 13px;
}
.hero-subtitle2 {
  margin-top: 17px; /* mobile default */
}

@media (max-width: 375px) {
  .hero-subtitle2 {
    margin-top: 0px; /* more spacing on desktop */
  }
}
/* Mobile */
@media (max-width: 768px) {
  .hero-title2,
  .hero-subtitle2 {
    font-size: 1.25rem !important;
  }
}
