@media screen and (min-width: 600px) {
    .px-custom {
        padding-left: 212px !important;
        padding-right: 212px !important;
    }
}
.px-custom{
    padding-left: 46px !important;
    padding-right: 46px !important;
}