.custom-padding {
  padding-left: 46px !important;
  padding-right: 46px !important;
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}
.why-it-works-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .why-it-works-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}
