.button-advertising {
  font-size: 18px !important;
}
@media screen and (min-width: 768px) {
  .button-advertising {
    font-size: 1.25rem !important;
  }
}
.start-advertising-btn {
  transition: transform 0.2s ease-in-out;
}

.start-advertising-btn:hover {
  transform: scale(1.1);
}
